.itemCard {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
  outline: 2px solid black;
  align-items: center;
  justify-content: space-evenly;
  max-height: fit-content;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 12px;
}
.itemCard.show {
  max-height: fit-content;
}

.itemImage {
  max-height: 10vh;
  border-radius: 12px;
}

.itemDescription {
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.itemName,
.itemPrice {
  margin: 0;
  text-align: center;
}

.itemNameAndPrice {
  width: 100%;
}

.itemName {
  font-size: inherit;
  width: 100%;
}

.itemDescription.hide {
  max-height: 0;
  opacity: 0;
  transform: scaleY(0);
}

.itemDescription.show {
  max-height: 100%;
  opacity: 1;
  transform: scaleY(1);
}

.itemDescription {
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ratingAndButton {
  display: flex;
  gap: 10px;
}

.starImage {
  height: 15px;
}

.itemRating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.allItems {
  padding: 25px;
}
