.allItemsBtn.activeOne {
  background-color: orange;
}

.mensClothing.activeTwo {
  background-color: orange;
}

.womensClothing.activeThree {
  background-color: orange;
}

.jewelery.activeFour {
  background-color: orange;
}

.electronics.activeFive {
  background-color: orange;
}

.cart.activeSix {
  background-color: orange;
}
