body {
  background-color: #f1e5d1;
}

.lol {
  padding-left: 80px;
}

.homeBtn,
.shopBtn,
.removeItemButton,
.checkoutBtn,
.cart,
.electronics,
.jewelery,
.allItemsBtn,
.mensClothing,
.womensClothing,
.addToCartBtn {
}

.homeBtn,
.shopBtn,
.removeItemButton,
.checkoutBtn,
.cart,
.electronics,
.jewelery,
.allItemsBtn,
.mensClothing,
.womensClothing,
.addToCartBtn {
  text-transform: uppercase;
  padding: 5px;
  background-color: transparent;
}

Link {
  text-decoration: none;
}
